:root {
    --c-red: hsl(0, 78%, 62%);
    --c-cyan: hsl(180, 62%, 55%);
    --c-very-dark-cyan: hsl(179, 100%, 13%);
    --c-orange: hsl(34, 97%, 64%);
    --c-blue: hsl(212, 86%, 64%);
    --c-very-dark-blue: hsl(234, 12%, 34%);
    --c-grayish-blue: hsl(229, 6%, 66%);
    --c-very-light-gray: hsl(0, 0%, 98%);
  }


* {
    box-sizing: border-box;
    margin: auto;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
  }

.wrapper {
  background-color: black;
}

.container {
  margin: auto;
  padding: 20px;
  height: 100%;
  /* width: 280px; */
  background-color: var(--c-very-light-gray);
}

h1 {
  text-align: center;
  color: var(--c-grayish-blue);
}

h2 {
  text-align: center;
  color: black;
  font-size: 16px;
}

p {
  text-align: center;
  width: 50%;
  margin-top:20px;
  font-size: 12px;
  color: var(--c-grayish-blue);
}

.cards {
  margin: auto;
  width: 90%;
  background-color: #fff;
  
}

.card-one {
  margin-top: 50px;
  padding: 10px;
  border: 0.2px solid var(--c-very-light-gray);
  border-top: 3px solid var(--c-cyan);
  border-radius: 7px;
  box-shadow: 0 5px 5px #ddd;
  width: 280px;
}

.card-two {
  margin-top: 50px;
  padding: 10px;
  border: 0.2px solid var(--c-very-light-gray);
  border-top: 3px solid var(--c-red);
  border-radius: 7px;
  box-shadow: 0 5px 5px #ddd;
  width: 280px;
}

.card-three {
  margin-top: 50px;
  padding: 10px;
  border: 0.2px solid var(--c-very-light-gray);
  border-top: 3px solid var(--c-orange);
  border-radius: 7px;
  box-shadow: 0 5px 5px #ddd;
  width: 280px;
}

.card-four {
  margin-top: 50px;
  padding: 10px;
  border: 0.2px solid var(--c-very-light-gray);
  border-top: 3px solid var(--c-blue);
  border-radius: 7px;
  box-shadow: 0 5px 5px #ddd;
  width: 280px;
}

.card-header {
  margin-top: 10px;
}

.card-text {
  margin-top: 10px;
  font-size: 10px;
}

.main-icon {
  display: flex;
  justify-content: end;
  margin-top: 50px;
  
}

.card-icon {
  margin: 30px;
  width: 50px;
}


@media (min-width: 1440px) {
body {
   background-color: black;
}

  .wrapper {
    margin: auto;
    background-color: var(--c-very-light-gray);
    width: 80%;
  }

  .container {
    width: 100%;
  }

.header {
  text-align: center;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 280px);
    grid-template-rows: repeat(4, 140px);
    gap: 20px;
}

  .card-one {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }

  .card-two {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
  }

  .card-three {
    grid-column: 2 / 3;
    grid-row: 3 / 5;
  }

  .card-four {
    grid-column: 3 / 4;
    grid-row: 2 / 4;
  }
  



}